USE [huahua]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 2018/5/24 23:41:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[i_id] [int] IDENTITY(1,1) NOT NULL,
	[i_path] [nvarchar](500) NULL,
	[i_Info] [nvarchar](500) NULL,
	[i_user_id] [int] NULL,
 CONSTRAINT [PK_Image] PRIMARY KEY CLUSTERED 
(
	[i_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 2018/5/24 23:41:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[u_id] [int] IDENTITY(1,1) NOT NULL,
	[u_name] [nvarchar](50) NULL,
	[u_password] [nvarchar](500) NULL,
	[u_regedittime] [datetime] NULL,
	[u_email] [nvarchar](500) NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[u_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[UserInfo] ON 

INSERT [dbo].[UserInfo] ([u_id], [u_name], [u_password], [u_regedittime], [u_email]) VALUES (1, N'李思思', N'1', CAST(0x0000A8C5011D5EB0 AS DateTime), N'李思思@qq.com')
INSERT [dbo].[UserInfo] ([u_id], [u_name], [u_password], [u_regedittime], [u_email]) VALUES (3, N'张三', N'2', CAST(0x0000A8C600D8FAE0 AS DateTime), N'张三@qq.com')
INSERT [dbo].[UserInfo] ([u_id], [u_name], [u_password], [u_regedittime], [u_email]) VALUES (4, N'22', N'22', CAST(0x0000A8C7000754C2 AS DateTime), N'22')
GO
SET IDENTITY_INSERT [dbo].[UserInfo] OFF
ALTER TABLE [dbo].[Image]  WITH CHECK ADD  CONSTRAINT [FK_Image_UserInfo] FOREIGN KEY([i_user_id])
REFERENCES [dbo].[UserInfo] ([u_id])
GO
ALTER TABLE [dbo].[Image] CHECK CONSTRAINT [FK_Image_UserInfo]
GO
